body{

	background-image:url('../gift/nbagift.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}


h1 {
	color: blue;
}

p {
	color: red;
} 


